$bg: #000;
$bg-text: #fff;
* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    background: url('/moon.jpeg');
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    color: $bg-text;
    font-family: 'NATS', Avenir, Helvetica, sans-serif;
    font-size: 25px;
    height: 100%;
    margin: 0;
    padding: 0;
}

section {
    margin: 40px auto;
    max-width: 1150px;
}

h1 {
    color: transparent;
    font-family: NATS;
    font-size: 100px;
    letter-spacing: 105px;
    line-height: 1;
    margin: 50px 0;
    text-transform: uppercase;
    &+p {
        font-size: 30px;
        letter-spacing: 9px;
        margin: 0;
        text-transform: uppercase;
    }
}

h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

li {
  list-style-type: none;
  text-align: center;
}

.card {
    align-items: center;
    background: $bg;
    border-radius: 2px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    line-height: 0;
    margin-bottom: 16px;
    padding: 10px 30px;
    position: relative;
    &::after {
        animation: gradient 3s ease alternate infinite;
        background: linear-gradient( 60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
        background-size: 300% 300%;
        border-radius: 2px;
        content: '';
        height: calc(100% + 1px * 2);
        left: calc(-1 * 1px);
        position: absolute;
        top: calc(-1 * 1px);
        width: calc(100% + 1px * 2);
        z-index: -1;
    }
    p {
        font-size: 15px;
        text-transform: uppercase;
        span {
            margin-right: 7px;
        }
    }
    &:first-of-type {
        background: none;
        & h2,
        p {
            font-size: 30px;
        }
    }
    &:nth-of-type(2) {
        h2,
        p {
            font-size: 25px;
        }
    }
    &:nth-of-type(3) {
        h2,
        p {
            font-size: 20px;
        }
    }
}

.request {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    input,
    button {
        height: 100%;
        background: white;
        font-size: 25px;
        border: none;
    }
    input {
        padding: 13px;
        width: 100%;
    }
    button {
        width: 20%;
        margin: 20px 0;
        background-image: linear-gradient(-134deg, #3023AE 0%, #C86DD7 100%);
        color: white;
        border-radius: 0;
    }
}

.playlist {
    img {
        max-width: 200px;
        opacity: 0;
    }
}

.currently-playing,
.up-next:nth-of-type(2),
.up-next:nth-of-type(3) {
    display: flex;
    align-items: center;
    margin: 100px;
}

.currently-playing {
  justify-content: center;

    .song-info {        
        transform: translateX(0);
        animation: fadeInLeftFirst 750ms ease 250ms forwards;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 30px;
    }
    img {
        max-width: 350px;
        animation: fadeIn 500ms ease forwards;
    }
}

.up-next {
  font-size: 70%;
  &:nth-of-type(2) {
    justify-content: flex-end;
    .song-info {
        animation: fadeInLeft 500ms ease 750ms forwards;
    }
    img {
        animation: fadeIn 500ms ease 500ms forwards;
    }
  }
  &:nth-of-type(3) {
    .song-info {
        animation: fadeInLeft 500ms ease 1.25s forwards;
    }
    img {
        animation: fadeIn 500ms ease 1s forwards;
    }  
  }
}

.song-info {
    background: #fffffff0;
    padding: 30px 100px 30px 40px;
    line-height: 1.4;
    opacity: 0;

    p {
        font-size: 22px;
        text-transform: lowercase;
        letter-spacing: 7px;
        font-style: italic;
        color: #3e2ab1;
    }
    h2,
    h3 {
        color: #000;
    }

    h3 {
      color: #696969;
      letter-spacing: 7px;
      text-transform: uppercase;
    }
    h2,
    h3,
    p {
        margin: 0;
    }
}

.glitch {
    color: white;
    font-size: 100px;
    position: relative;
}

@keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 #ef4e7b;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 4s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 #5073b8;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 6s infinite linear alternate-reverse;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 0.9 }
}

@keyframes fadeInLeftFirst {
    0% { opacity: 0; transform: translateX(-50px); }
    100% { opacity: 1; transform: translateX(-100px); }
}

@keyframes fadeInLeft {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(-70px); }
}

@font-face {
  font-family: 'NATS';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/NATS.woff2') format('woff2');
}